<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
 


    <div class="caixa" >
    <h1 >Camisetas</h1>
    </div>
    <img class="camiseta1" width="320" height="205" src="https://minimalclub.com.br/cdn/shop/files/kit-minimal-4x-4-camisetas-por-r11198-cada-866825_2048x.jpg?v=1718980963" alt="">
</body>
</html>