<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    
              <div class="titulo">
                <h1>Login</h1>
                <p class="paragrafo">Digite os dados para acessar a plataforma</p>
              </div>
              <br>
            <div class="tabela">
                <form action="home.html" method="get">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome">
                    
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password">
                    
                 <input type="submit" value="Entrar">
                 <a href="../View/cadastro.html">         
                  <input type="button" value="cadastro">
                  </a> 
            </div>
   
        
       
</body>
</html>